<h1 class="text-center mb-4">🌾 Liste des cultures</h1>
<div class="container mt-5">
<table class="table table-striped table-bordered table-hover shadow">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <tr>
        <th>Nom</th>
        <th>Date plantation</th>
        <th>Stade</th>
        <th>Kc</th>
        <th>Actions</th>
    </tr>

    {% for culture in cultures %}
    <tr>
        <td>{{ culture.nom }}</td>
        <td>{{ culture.date_plantation }}</td>
        <td>{{ culture.stade }}</td>
        <td>{{ culture.kc }}</td>

        <td>
            <a href="/modifier-culture/{{ culture.id }}/"
   class="btn btn-primary btn-sm">
    ✏️ Modifier
</a>

<a href="/supprimer-culture/{{ culture.id }}/"
   class="btn btn-danger btn-sm">
    🗑️ Supprimer
</a>
        </td>
    </tr>

    {% endfor %}
</table>

<br>

<a href="/ajouter-culture/" class="btn btn-success mb-3">
    ➕ Ajouter une culture
</a>
</div> 