<h1 class="text-center mb-4">🌤️ Liste des données météo</h1>
<div class="container mt-5"> 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<table class="table table-striped table-bordered table-hover shadow">
    <tr>
        <th>Date</th>
        <th>Température</th>
        <th>Humidité</th>
        <th>Vent</th>
        <th>ET0</th>
        <th>Actions</th>
    </tr>

    {% for meteo in meteos %}
    <tr>
        <td>{{ meteo.date }}</td>
        <td>{{ meteo.temperature }}</td>
        <td>{{ meteo.humidite }}</td>
        <td>{{ meteo.vent }}</td>
        <td>{{ meteo.eto }}</td>

        <td>
            <a href="/modifier-meteo/{{ meteo.id }}/"
   class="btn btn-primary btn-sm">
    ✏️ Modifier
</a>

<a href="/supprimer-meteo/{{ meteo.id }}/"
   class="btn btn-danger btn-sm"
   onclick="return confirm('Voulez-vous vraiment supprimer ce meteo ?')">
    🗑️ Supprimer
</a>
        </td>
    </tr>
    {% endfor %}
</table>

<br>

<a href="/ajouter-meteo/" class="btn btn-success mb-3">
    ➕ Ajouter une donnée météo
</a>
<a href="/" class="btn btn-secondary mt-3">
    🏠 Retour au Dashboard
</a>
</div>