<!DOCTYPE html>
<html>
<head>
    <title>Liste des parcelles</title>
</head>
<body>

    <h1>📍 Liste des parcelles</h1>

    <table border="1" cellpadding="10">
        <tr>
            <th>Code</th>
            <th>Nom</th>
            <th>Surface</th>
            <th>Type de sol</th>
            <th>Localisation</th>
        </tr>

        {% for parcelle in parcelles %}
        <tr>
            <td>{{ parcelle.code }}</td>
            <td>{{ parcelle.nom }}</td>
            <td>{{ parcelle.surface }}</td>
            <td>{{ parcelle.type_sol }}</td>
            <td>{{ parcelle.localisation }}</td>
        </tr>
        {% endfor %}

    </table>
    <br><br>

<a href="/ajouter-parcelle/">
    ➕ Ajouter une nouvelle parcelle
</a>

</body>
</html>